
.container{
    background-color: aquamarine;
}

.izquierda{
    width: 100%;
    height: 100vmin;
    background-color: blueviolet;
    position: relative;
}

.derecha{
    width: 50%;
    height: 80vh;
    background-color:greenyellow ;
    position:absolute;
    top: 0;
    right: 0;
}

#menu-desaparece:checked ~ .derecha{
    display: none;
}

.contenido{
    width: 90%;
    height: 20%;
    background-color: brown;
    overflow: hidden;
}